@tailwind base;
@tailwind components;
@tailwind utilities;

.dark{color-scheme:light !important}a:focus-visible{@apply outline-primary}::-moz-selection{@apply bg-primary/40}::selection{@apply bg-primary/40}

input:focus {
    outline: none;
    border: none;
  }

  /* Scrollbar Styling */
div::-webkit-scrollbar, section::-webkit-scrollbar {
  height: 0px;
  width: 5px;
}

div::-webkit-scrollbar-thumb, section::-webkit-scrollbar-thumb {
  background-color: #007bffd4 !important;
  border-radius: 10px !important;
}

div::-webkit-scrollbar-thumb:hover, section::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3) !important;
}
  